<div class="card">
  <div class="card-header">
    <h1>Menu Principal</h1>
  </div>
  <div class="card-body">
    <div class="row row-content">
      <div class="col">
        <a href="#" class="btn btn-outline-secondary menu-icon" [routerLink]="['/classes']">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <div class="col">
            <p>Classes</p>
          </div>
        </a>
      </div>
      <div class="col" >
        <a href="#" class="btn btn-outline-success menu-icon" [routerLink]="['/students']">
          <div class="col">
            <i class="fa fa-user-md" aria-hidden="true"></i>
            <p>Eleves</p>
          </div>
        </a>
      </div>
      <div class="col" >
        <a href="#" class="btn btn-outline-danger menu-icon">
          <div class="col">
            <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
            <p>Historique</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>