.menu-icon{
  margin-bottom: 10px;
  cursor: pointer;
  i{
    font-size: 200px;
  }
  p{
    font-size: 70px;
  }
   width: 400px;
   height: 300px;
}
row{
  .row-content{
    justify-content: center;
  }
}

.card-header{
  text-align: center;
}
